*{
    margin: 0;
    padding: 0;
    color: #fff;
}
.header{
    min-height: 50px;
    background: #303030;
}
.logo{
    width: 30%;
    float: left;
    margin-top: 5px;
}
.logo img{
    width: 22%;
    margin-left: 30px;
}
.menu{
    width: 50%;
    float: right;
    margin-top: 10px;
}
.menu ul li{
    list-style-type: none;
    display: inline;
}
.menu ul li a{
    text-decoration: none;
    color: #fff;
    margin-left: 30px;
    font-size: 20px;
}
.middle-1{
    background: url('images/2.jpg');
    height: 700px;
    background-size: cover;
    background-repeat: no-repeat;
}
#mid{
    padding: 350px 0 0 50px;
}
#mid h1{
    font-size: 45px;
    margin-bottom: 20px;
}
#mid p{
    width: 25%;
    margin-bottom: 30px;
    font-size: 20px;
}
#mid a{
    text-decoration: none;
    padding: 10px 50px;
    background-color: #e8631c;
    font-size: 25px;
}
.middle-2 {
    min-height: 600px;
    background: url('images/mid.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
#mid-2{
    padding-top: 50px;
    text-align: center;
}
#mid-2 h2{
    font-size: 40px;
    margin-bottom: 20px;
}
#mid-2 p{
    width: 36%;
    margin: auto;
    font-size: 20px;
}
.mid-2 img{
    width: 60%;
    margin-left: 50px;
}
.mid-2{
    width: 25%;
    float: left;
    background-color: #303030;
    margin: 80px 0 0 20px;
    height: 330px;
    
}
.mid-2 h3{
    margin-top: 30px;
    text-align: center;
    font-size: 25px;
}
.mid-2 p{
   margin-top: 10px;
    padding-left: 30px;
    font-size: 20px;
}
.min {
    margin-left: 150px;
}
.middle-3{
    min-height: 650px;
    background: #303030;
}
#mid-3{
    padding-top: 50px;
    text-align: center;
}
#mid-3 h2{
    font-size: 40px;
    margin-bottom: 20px;
}
#mid-3 p{
    width: 40%;
    margin: auto;
    font-size: 20px;
}
.mid-3{
    width: 23%;
    float: left;
    margin: 70px 0 0 40px;
    height: 350px;
    background: #e8631c;
}
.mid-3 img{
   margin-left: 60px;
}
.mid-3 h3 {
    text-align: center;
    margin: 20px 0;
}
.mid-3 p{
    margin-bottom: 20px;
    font-size: 20px;
    padding-left: 30px;
}
.btn{
    margin: 0 25px;
    text-decoration: none;
    padding: 10px 90px;
    background-color: #303030;
}
.mim {
    margin-left: 150px;
}
.middle-4{
    height: 400px;
    
}
.contant-1{
    width: 50%;
    float: left;
}
.contant-1 img{
    height: 850px;
}
.contant-2{
    width: 50%;
    float: right;
    background-color: #e8631c;
    height: 850px;
    
}
.contant-2 h2{
    padding: 300px 0 40px;
    font-size: 35px;
    padding-left: 60px;
}
.contant-2 p{
    width: 51%;
    padding-left: 60px;
    padding-bottom: 50px;
}
.ntv{
    margin: 50px 0 0 60px;
    padding: 10px 50px;
    background-color: #303030;
    text-decoration: none;
}
.contant-3{
    width: 50%;
    float: left;
    background-color: #e8631c;
    height: 850px;
    clear: both;
    margin-top: -4px;
}
.contant-3 h2{
    padding: 300px 0 40px;
    font-size: 35px;
    padding-left: 60px;
}
.contant-3 p{
    width: 51%;
    padding-left: 60px;
    padding-bottom: 50px;
}
.contant-4{
    width: 50%;
    float: right;
    margin-top: -5px;
}
.contant-4 img{
    height: 850px;
}
.main{
    min-height: 350px;
    background: #303030;
    clear: both;
    padding-top: 50px;
}
.text{
    padding-top: 50px;
    text-align: center;
}
.text h2{
    font-size: 40px;
}
.text p{
    width: 45%;
    margin: auto;
    padding: 20px 0 70px;
    font-size: 22px;
}
.act{
    width: 30%;
    float: left;
    margin: auto;
    text-align: center;
}
.ass{
    margin-left: 100px;
}
.act h3{
    padding-bottom: 10px;
    font-size: 30px;
    font-weight: 600;
}
.act p{
    font-size: 22px;
}
.footer-bg{
    background: url('images/footer.jpg');
    min-height: 800px;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}
.footer-bg p{
    padding: 400px 0 30px;
    font-size: 30px;
    margin: auto;
    width: 45%;
}
.footer-bg h3{
    font-size: 35px;
}
.foot{
    background: url('images/mid3.jpg');
    height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
}
.form{
    width: 100%;
    height: 100vh;
    margin-left: 300px;
}
form{
    width: 600px;
    background: #fff;
    height: 55px;
    display: flex;
}
.con{
    padding-top: 100px;
    text-align: center;
}
.con h3{
    font-size: 30px;
    padding-bottom: 20px;
}
.con p{
    padding-bottom: 30px;
    width: 30%;
    margin: auto;
}
form input{
    flex: 1;
    border: none;
    outline: none;
    color: #303030;
}
form button{
    background: #303030;
    padding: 0 20px;
}
.footer{
    min-height: 300px;
    background: #303030;
}
.footer-1{
    width: 22%;
    float: left;
    
}
.footer-1 h4{
    font-size: 25px;
    padding: 20px 10px 30px;
}
.fff{
    margin-left: 40px;
}
.fff p{
    text-align: justify;
    font-size: 15px;
}
.foo{
    margin-left: 100px;
}
.footer-1 p{
    padding-left: 10px;
}
.footer-1 p a{
    text-decoration: none;
    font-size: 20px;
}
